/* Todo: Refactoring */

/*
    1. General
    2. Navigation
    3. Blog
    4. Footer

*/

/* 1. General */

* {
    margin: 0px !important;
    padding: 0px !important;
}

html, body {
    height: 100%;
    background-color: #F5F0E6;
    color: #45353D;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px;
}

section {
    display: block;
}

.boxShadow {
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 30%);
}

.avatar {
    width: 110px !important;
    height: 110px !important;
}

/* 2. Navigation */

.navigation {
    background-color: #45353D;
}

.navigation li {
    color: #F5F0E6;
    display: inline;
    float: right;
}

.navigation a:link {
    text-decoration: none;
    color: #F5F0E6;
}

.navigation-nav a {
    position: relative;
}

.navigation-nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #F5F0E6;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navigation-nav a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* 3.Blog */

.card.blogPreviewCard {
    background-color: #45353D;
    color: #F5F0E6;
}

.card-blogpost{
    margin-top: 50px !important;
}

.card-blog {
    background-color: #F5F0E6 !important;
    color: #45353D;
    border-radius: 5px 5px 5px 5px !important;
    border: none !important;
    vertical-align: bottom;
}

.card-top {
    margin-top: 60px !important;
}

.card-img-top {
    margin-top: -60px !important;
    border-radius: 5px !important;
}

.img-blog {
    max-height: 150px !important;
    margin-top: 0px !important;
    object-fit: cover;
}

.card-title {
    color: #9D6B64;
}

.card-body p {
    color: #45353D;
}

.btn-primary {
    background-color: #9d6961;
    border-color: #9d6961;
    border-style: none;
    color: #F5F0E6;
}

.btn-primary:hover {
    background-color: #9d6961;
    border-color: #9d6961;
    border-style: none;
    color: #F5F0E6;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 50%);
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    background-color: #9d6961;
    border-color: #AC948D;
    border-style: none;
    color: #F5F0E6;
    box-shadow: none;
}

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    background-color: #AC948D;
    border-color: #AC948D;
    border-style: none;
    color: #F5F0E6;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 30%);
}


.btn-outline-primary {
    background-color: #F5F0E6;
    border-color: #9d6961;
    color: #9d6961;
}

.card-border {
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 30%);
}

.techPreviewCard {
    background-color: #F5F0E6;
    border-color: #F5F0E6;
}

.blogOverview .blog-img {
    max-height: 200px;
    width: auto;
}

.blogOverview hr {
    color: #45353D;
}

.blogOverview-card {
    background-color: #45353D !important;
    border: none !important;
    vertical-align: bottom;
}

.blogOverview-card-text {
    color: #F5F0E6 !important;
}

.blogOverviewShadow {
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 30%);
    border-radius: 5px;
    background-color: #45353D;
    color: #F5F0E6;
}

/* 4. Footer */

.footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear:both;
    padding-top:20px;
}


